/out/production/DesignPatterns/abstraction/Animal.class
/out/production/DesignPatterns/abstraction/Cat.class
/out/production/DesignPatterns/abstraction/Dog.class
/out/production/DesignPatterns/encapsulation/Car.class
/out/production/DesignPatterns/encapsulation/Vehicle.class
/out/production/DesignPatterns/interfaces/Animal.class
/out/production/DesignPatterns/interfaces/Cat.class
/out/production/DesignPatterns/interfaces/Dog.class
/out/production/DesignPatterns/polymorphism/Animal.class
/out/production/DesignPatterns/polymorphism/Cat.class
/out/production/DesignPatterns/polymorphism/Dog.class
/out/production/DesignPatterns/structural_patterns/adapter/adapted/BuggatiAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter/adapted/MasseratiAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter/adapted/PorcheAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter/adapted/VehicleAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter/legacy/Buggati.class
/out/production/DesignPatterns/structural_patterns/adapter/legacy/Masserati.class
/out/production/DesignPatterns/structural_patterns/adapter/legacy/Porche.class
/out/production/DesignPatterns/structural_patterns/adapter/legacy/Vehicle.class
/out/production/DesignPatterns/structural_patterns/adapter/AdapterService.class
/out/production/DesignPatterns/structural_patterns/adapter/Client.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/external/GeometricShape.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/external/Rectangle.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/external/Triangle.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/legacy/Circle.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/legacy/Line.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/legacy/Shape.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/Client.class
/out/production/DesignPatterns/structural_patterns/adapter_composition/GeometricShapeObjectAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/adapters/RectangleAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/adapters/TriangleAdapter.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/external/GeometricShape.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/external/Rectangle.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/external/Triangle.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/legacy/Circle.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/legacy/Line.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/legacy/Shape.class
/out/production/DesignPatterns/structural_patterns/adapter_inheritance/Client.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/boilerplate/OrangeCircle.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/boilerplate/OrangeSquare.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/boilerplate/RedCircle.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/boilerplate/RedSquare.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/boilerplate/Shape.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/BlueColor.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/Circle.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/Color.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/PurpleColor.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/RedColor.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/Rhombus.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/Shape.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/Square.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/solution/YellowColor.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate/Client.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/Bike.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/BikeAssembleWorkshop.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/BikeProduceWorkshop.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/Car.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/CarAssembleWorkshop.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/CarProduceWorkshop.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/boilerplate/Vehicle.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Assemble.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Bike.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Car.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Paint.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Produce.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Truck.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Vehicle.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/solution/Workshop.class
/out/production/DesignPatterns/structural_patterns/bridge_boilerplate_2/Client.class
/out/production/DesignPatterns/structural_patterns/composite_box/Box.class
/out/production/DesignPatterns/structural_patterns/composite_box/Client.class
/out/production/DesignPatterns/structural_patterns/composite_box/ElectronicProduct.class
/out/production/DesignPatterns/structural_patterns/composite_box/IProductComponent.class
/out/production/DesignPatterns/structural_patterns/composite_box/Product.class
/out/production/DesignPatterns/structural_patterns/composite_box/WeighableProduct.class
/out/production/DesignPatterns/structural_patterns/proxy_access/BankAccount.class
/out/production/DesignPatterns/structural_patterns/proxy_access/Client.class
/out/production/DesignPatterns/structural_patterns/proxy_access/PersonalAccount.class
/out/production/DesignPatterns/structural_patterns/proxy_access/PersonalAccountProxy.class
/out/production/DesignPatterns/structural_patterns/proxy_lazy_initialization/Client.class
/out/production/DesignPatterns/structural_patterns/proxy_lazy_initialization/Image.class
/out/production/DesignPatterns/structural_patterns/proxy_lazy_initialization/ProxyImage.class
/out/production/DesignPatterns/structural_patterns/proxy_lazy_initialization/RealImage.class
/out/production/DesignPatterns/HelloWorld.class
/.idea/vcs.xml
